* {
  padding: 0;
  margin: 0;
}
.container-home {
  padding: 100px;
  display: flex;
  justify-content: center;
  background-color: #081631;
  height: 100vh;
  width: 100%;
}
.container-users {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.user-card {
  width: 250px;
}
